* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
}

body header {
  width: 7vw;
  height: 100%;
  position: fixed;
  top: 30vh;
  left: 0;
  border-right: #ccc 1px solid;
  text-align: center;
}

body header div {
  width: 7vw;
  margin: 11vh auto;
}

body header div a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

body .profile {
  width: 100vw;
  height: 30vh;
  border-bottom: 1px solid #ccc;
}

body .profile .back_image {
  width: 100vw;
  height: 30vh;
}

body .profile .back_image img {
  width: 100vw;
  height: 30vh;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

body .profile .icon {
  width: auto;
}

body .profile .icon img {
  background-color: #ccc;
  width: 16vh;
  height: 16vh;
  border-radius: 50%;
  position: absolute;
  left: 8vw;
  top: 10vh;
  border: 0.2rem solid #fff;
}

body .post {
  width: 40vw;
  height: 100%;
  position: fixed;
  border-right: 1px solid #ccc;
  top: 30vh;
  left: 7vw;
}

body .post .main_post_font {
  font-size: 1.6rem;
  margin: 3rem 0 0 auto;
  text-align: center;
  font-weight: 100;
}

body .post form {
  padding: 1rem 0 0 0;
  width: 40vw;
  height: 70vh;
}

body .post form .input_form {
  padding: 5vh 7vw 0 7vw;
}

body .post form .input_form .input_text {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 1.1rem;
  width: 26vw;
  margin-top: 1rem;
  margin-bottom: 2rem;
  resize: none;
}

body .post form .input_form .div_font {
  font-size: 1rem;
}

body .post form .input_form .input_image {
  display: none;
}

body .post form .input_form .input_img {
  width: 15vh;
  height: 15vh;
  margin-top: 2vh;
  cursor: pointer;
}

body .post form .input_form .input_submit {
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  margin-top: 3vh;
  margin-left: 1rem;
  background-color: #fff;
}

body .post_all {
  width: 60vw;
  height: 70vh;
  position: fixed;
  top: 30vh;
  left: 47vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

body .post_all :hover {
  cursor: pointer;
}

body .post_all .display_flex {
  width: 60vw;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

body .post_all .icon_img {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  vertical-align: bottom;
  margin: 1vh 2vh 0 2vh;
}

body .post_all .post_message {
  margin: 2vh 0 3.2vh 1.4vh;
  padding: 0;
  font-size: 2.2vh;
}

body .post_all .post_image {
  height: auto;
}

body .post_all .post_image .img {
  margin: 3vh 0 1vh 0;
  height: 17vh;
}

body .acount {
  width: 40vw;
  height: 100%;
  position: fixed;
  top: 30vh;
  left: 7vw;
  border-right: 1px solid #ccc;
  text-align: center;
}

body .acount .acount_main_font {
  font-size: 2rem;
  margin: 9vh 0 8vh 0;
}

body .acount .table {
  width: auto;
  height: auto;
  text-align: left;
  margin: 0 auto 8vh auto;
}

body .acount .table tr {
  height: 2rem;
}

body .acount .table tr td {
  width: 5vw;
  font-size: 1.1rem;
}

body .acount .acount_setting_wrap {
  text-align: left;
  width: 38%;
  margin: auto;
}

body .acount .acount_setting_wrap .acount_setting {
  width: auto;
  margin: 3vh 0;
}

body .acount .acount_setting_wrap .acount_setting a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

body .acount .display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .acount_message_box {
  width: 60vw;
  height: 73.4%;
  position: fixed;
  top: 30vh;
  left: 47vw;
  cursor: pointer;
  z-index: 1;
}

body .acount_message_box .acount_posts {
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
}

body .acount_message_box .acount_posts .display_flex {
  width: 60vw;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

body .acount_message_box .acount_posts .icon_img {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  vertical-align: bottom;
  margin: 1vh 2vh 0 2vh;
}

body .acount_message_box .acount_posts .acount_message {
  margin: 2vh 0 3.2vh 1.4vh;
  padding: 0;
  font-size: 2.2vh;
}

body .acount_message_box .acount_posts .acount_image {
  height: auto;
}

body .acount_message_box .acount_posts .acount_image .img {
  margin: 3vh 0 1vh 0;
  height: 17vh;
}

body .acount_message_box::-webkit-scrollbar {
  display: none;
}

body .search {
  width: 50vw;
  height: 69.5%;
  position: fixed;
  top: 30vh;
  left: 57vw;
  cursor: pointer;
}

body .search:hover {
  overflow-y: scroll;
}

body .search .display_flex {
  width: 50vw;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

body .search .icon_img {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  vertical-align: bottom;
  margin: 1vh 2vh 0 2vh;
}

body .search .search_message {
  margin: 2vh 0 3.2vh 1.4vh;
  padding: 0;
  font-size: 2.2vh;
}

body .search .search_image {
  height: auto;
}

body .search .search_image .img {
  margin: 3vh 0 1vh 0;
  height: 17vh;
}

body .search::-webkit-scrollbar {
  display: none;
}

body .search_box {
  width: 50vw;
  height: 73.4%;
  position: fixed;
  top: 30vh;
  left: 7vw;
  border-right: 1px solid #ccc;
  text-align: center;
}

body .search_box form {
  margin: 8vh auto 5.9vh auto;
}

body .search_box form .keyword {
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

body .search_box form .submit {
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.2rem;
}

body .search_box .search_results {
  border-top: 1px solid #ccc;
  text-align: left;
  height: 70%;
  overflow-y: scroll;
}

body .search_box .search_results .display_flex {
  width: 90vw;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .search_box .search_results .icon_img {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  vertical-align: bottom;
  margin: 1vh 2vh 0 2vh;
}

body .search_box .search_results .search_message {
  margin: 2vh 0 3.2vh 1.4vh;
  padding: 0;
  font-size: 2.2vh;
}

body .search_box .search_results .search_image {
  height: auto;
}

body .search_box .search_results .search_image .img {
  margin: 3vh 0 1vh 0;
  height: 20vh;
}

body .search_box .search_results::-webkit-scrollbar {
  display: none;
}

body .error_font {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: red;
  text-align: center;
}

body .modal-open {
  width: auto;
  z-index: 100;
  position: static;
}

body .modal-open a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

body .modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

body .modal:not(:target) {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

body .modal:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

body .modal .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}

body .modal-wrapper {
  width: 100%;
  max-width: 34vw;
  height: 100%;
  max-height: 35vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3vh 3vw 1vh 3vw;
}

body .modal-contents {
  overflow: auto;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body .modal-content {
  margin: 25px;
}

body .modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
}

body .table_edit {
  width: auto;
  height: auto;
  text-align: left;
  margin: 0 auto 8vh auto;
}

body .table_edit tr {
  height: 2rem;
}

body .table_edit tr td {
  width: 8vw;
  font-size: 1.1rem;
}

body .table_edit tr td #preview {
  width: 20vw;
  height: 10vh;
}

body .table_edit tr td #back_preview {
  width: 20vw;
  height: 10vh;
}

body .table_edit tr td input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

body .table_edit tr td input[type="file"] {
  display: none;
}

body .table_edit tr td .input_submit {
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ccc;
}

body .home_all {
  width: 93vw;
  height: 70vh;
  position: fixed;
  top: 30vh;
  left: 7vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

body .home_all :hover {
  cursor: pointer;
}

body .home_all .display_flex {
  width: 90vw;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

body .home_all .icon_img {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  vertical-align: bottom;
  margin: 1vh 2vh 0 2vh;
}

body .home_all .home_message {
  margin: 2vh 0 3.2vh 1.4vh;
  padding: 0;
  font-size: 2.2vh;
}

body .home_all .home_image {
  height: auto;
}

body .home_all .home_image .img {
  margin: 3vh 0 1vh 0;
  height: 20vh;
}
/*# sourceMappingURL=index.css.map */