*{
    margin: 0;
    padding: 0;
}


$top-height: 30vh;
$header-width: 7vw;

body{
    width: 100vw;
    height: 100%;

    header{
        width: $header-width;
        height: 100%;
        position: fixed;
        top: $top-height;
        left: 0;
        border-right: #ccc 1px solid;
        text-align: center;

            div{
                width: $header-width;
                margin: 11vh auto;

                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 1.2rem;
                }
            }
    }

    .profile{
        width: 100vw;
        height: $top-height;
        border-bottom: 1px solid #ccc;

        .back_image{
            width: 100vw;
            height: $top-height;

                img{
                    width: 100vw;
                    height: $top-height;
                    vertical-align: bottom;
                    object-fit: cover;
                    position: fixed;
                    top: 0;
                    left: 0;
                }
        }

        .icon{
            width: auto;

                img{
                    background-color: #ccc;
                    width:  16vh;
                    height: 16vh;
                    border-radius: 50%;
                    position: absolute;
                    left: 8vw;
                    top: 10vh;
                    border: 0.2rem solid #fff;
                }
        }
    }

    .post{
        width: 40vw;
        height: 100%;
        position: fixed;
        border-right: 1px solid #ccc;
        top: $top-height;
        left: $header-width;

            .main_post_font{
                font-size: 1.6rem;
                margin: 3rem 0 0 auto;
                text-align: center;
                font-weight: 100;
            }

            form{
                padding: 1rem 0 0 0;
                width: 40vw;
                height: 100vh - $top-height;

                .input_form{
                    padding: 5vh 7vw 0 7vw;
                    
                    .input_text{
                        border: none;
                        border-bottom: 1px solid #ccc;
                        outline: none;
                        font-size: 1.1rem;
                        width: 26vw;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                        resize: none;
                    }
    
                    .div_font{
                        font-size: 1rem;
                    }
    
                    .input_image{
                        display: none;
                    }
    
                    .input_img{
                        width: 15vh;
                        height: 15vh;
                        margin-top: 2vh;
                        cursor: pointer;
                    }
    
                    .input_submit{
                        padding: 0.2rem 0.7rem;
                        border-radius: 0.3rem;
                        border: 1px solid #ccc;
                        margin-top: 3vh;
                        margin-left: 1rem;
                        background-color: #fff;
                    }
                }
            }
    }

    .post_all{
        width: 60vw;
        height: 100 - $top-height;
        position: fixed;
        top: $top-height;
        left: $header-width + 40vw;
        overflow-y: scroll;
        overflow-x: hidden;
        :hover{
            cursor: pointer;
        }

        .display_flex{
            width: 60vw;
            border-bottom: 1px solid #ccc;
            display: flex;
            height: auto;
        }

        .icon_img{
            width: 7vh;
            height: 7vh;
            border-radius: 50%;
            vertical-align: bottom;
            margin: 1vh 2vh 0 2vh;
        }

        .post_message{
            margin: 2vh 0 3.2vh 1.4vh;
            padding: 0;
            font-size: 2.2vh;
        }

        .post_image{
            height: auto;

             .img{
                margin: 3vh 0 1vh 0;
                height: 17vh;
             }
        }

    }

    .acount{
        width: 40vw;
        height: 100%;
        position: fixed;
        top: $top-height;
        left: $header-width;
        border-right: 1px solid #ccc;
        text-align: center;

        .acount_main_font{
            font-size: 2rem;
            margin: 9vh 0 8vh 0;
        }

        .table{
            width: auto;
            height: auto;
            text-align: left;
            margin: 0 auto 8vh auto;

            tr{
                height: 2rem;

                td{
                    width: 5vw;
                    font-size: 1.1rem;
                }
            }
        }

        .acount_setting_wrap{
            text-align: left;
            width: 38%;
            margin: auto;
            
            .acount_setting{
                width: auto;
                margin: 3vh 0;

                a{
                    color: #000;
                    text-decoration: none;
                    font-size: 1.1rem;
                }
            }
        }

        .display_flex{
            display: flex;
        }
    }

    .acount_message_box{
        width: 60vw;
        height: 73.4%;
        position: fixed;
        top: $top-height;
        left: $header-width + 40vw;
        cursor: pointer;
        z-index: 1;

        .acount_posts{
            height: 100%;
            overflow-y: scroll;
            z-index: 1;

            .display_flex{
                width: 60vw;
                border-bottom: 1px solid #ccc;
                display: flex;
                height: auto;
            }
    
            .icon_img{
                width: 7vh;
                height: 7vh;
                border-radius: 50%;
                vertical-align: bottom;
                margin: 1vh 2vh 0 2vh;
            }
    
            .acount_message{
                margin: 2vh 0 3.2vh 1.4vh;
                padding: 0;
                font-size: 2.2vh;
            }
    
            .acount_image{
                height: auto;
    
                 .img{
                    margin: 3vh 0 1vh 0;
                    height: 17vh;
                 }
            }
        }
    }

    .acount_message_box::-webkit-scrollbar{
        display: none;
    }

    .search{
        width: 50vw;
        height: 69.5%;
        position: fixed;
        top: $top-height;
        left: $header-width + 50vw;
        cursor: pointer;

        &:hover{
            overflow-y: scroll;
        }

        .display_flex{
            width: 50vw;
            border-bottom: 1px solid #ccc;
            display: flex;
            height: auto;
        }

        .icon_img{
            width: 7vh;
            height: 7vh;
            border-radius: 50%;
            vertical-align: bottom;
            margin: 1vh 2vh 0 2vh;
        }

        .search_message{
            margin: 2vh 0 3.2vh 1.4vh;
            padding: 0;
            font-size: 2.2vh;
        }

        .search_image{
            height: auto;

             .img{
                margin: 3vh 0 1vh 0;
                height: 17vh;
             }
        }
    }

    .search::-webkit-scrollbar{
        display: none;
    }

    .search_box{
        width: 50vw;
        height: 73.4%;
        position: fixed;
        top: $top-height;
        left: $header-width;
        border-right: 1px solid #ccc;
        text-align: center;

        form{
            margin: 8vh auto 5.9vh auto;

            .keyword{
                font-size: 1.2rem;
                outline: none;
                border: none;
                border-bottom: 1px solid #ccc;
            }

            .submit{
                background-color: #fff;
                border: 1px solid #ccc;
                outline: none;
                padding: 0.2rem;
            }
        }

        .search_results{
            border-top: 1px solid #ccc;
            text-align: left;
            height: 70%;
            overflow-y: scroll;

            .display_flex{
                width: 90vw;
                border-bottom: 1px solid #ccc;
                display: flex;
            }
        
            .icon_img{
                width: 7vh;
                height: 7vh;
                border-radius: 50%;
                vertical-align: bottom;
                margin: 1vh 2vh 0 2vh;
            }
        
            .search_message{
                margin: 2vh 0 3.2vh 1.4vh;
                padding: 0;
                font-size: 2.2vh;
            }
        
            .search_image{
                height: auto;
        
                 .img{
                    margin: 3vh 0 1vh 0;
                    height: 20vh;
                 }
            }
        }
        .search_results::-webkit-scrollbar{
            display: none;
        }

}

//error-message
.error_font{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: red;
    text-align: center;
}

//modal

.modal-open{
    width: auto;
    z-index: 100;
    position: static;
  }

  .modal-open a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
  }
  .modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .modal:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .modal:target{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .modal .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
  }
  .modal-wrapper{
    width: 100%;
    max-width: 34vw;
    height: 100%;
    max-height: 35vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vh 3vw 1vh 3vw ;
  }
  .modal-contents{
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .modal-content{
    margin: 25px;
  }
  .modal-close{
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
  }

  .table_edit{
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 auto 8vh auto;

    tr{
        height: 2rem;

        td{
            width: 8vw;
            font-size: 1.1rem;

            #preview{
                width: 20vw;
                height: 10vh;
            }
            
            #back_preview{
                width: 20vw;
                height: 10vh;
            }

            input{
                border: none;
                border-bottom: 1px solid #ccc;
                outline: none;
            }

            input[type="file"] {
                display: none;
            }

            .input_submit{
                background-color: #fff;
                padding: 0.2rem 0.5rem;
                border: 1px solid #ccc;
            }
        }
    }
}

.home_all{
    width: 100vw - $header-width;
    height: 100 - $top-height;
    position: fixed;
    top: $top-height;
    left: $header-width ;
    overflow-y: scroll;
    overflow-x: hidden;
    :hover{
        cursor: pointer;
    }

    .display_flex{
        width: 90vw;
        border-bottom: 1px solid #ccc;
        display: flex;
        height: auto;
    }

    .icon_img{
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        vertical-align: bottom;
        margin: 1vh 2vh 0 2vh;
    }

    .home_message{
        margin: 2vh 0 3.2vh 1.4vh;
        padding: 0;
        font-size: 2.2vh;
    }

    .home_image{
        height: auto;

         .img{
            margin: 3vh 0 1vh 0;
            height: 20vh;
         }
    }

}}