*{
    margin: 0;
    padding: 0;
}

$back-img-width: 48vw;

body{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    .left{
            width: $back-img-width;
            height: 100vh;
            background-color: #000;
            text-align: center;

            img{
                width: $back-img-width;
                opacity: 0.5;
            }

            .left-text{
                color: #fff;
                position: fixed;
                left: 12vw;
                top: 44vh;
                font-size: 2.3rem;
                height: 2vh;

            }
        }

        .right{
            width: 50vw;
            text-align: center;

            form{
                margin-top: 16vh;

                .main_form_text{
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }

                .div_text{
                    font-size: 0.9rem;
                    margin: 1.5rem 0 0.7rem 0;
                }

                .aleady_text{
                    text-decoration: none;
                    margin-top: 2rem;

                    a{
                        text-decoration: none;
                        color: #555;
                    }
                }

                .forget_text{
                    text-decoration: none;
                    margin-top: 1rem;

                    a{
                        text-decoration: none;
                        color: #555;
                    }
                }

                .input_checkbox{
                    margin-top: 1rem;
                }
                
                input{
                    border: none;
                    border-bottom: 1px solid #ccc;
                    font-size: 1.1rem;
                    outline: none;
                }

                .input_submit{
                    padding: 0.3rem 0.7rem;
                    border-radius: 0.3rem;
                    border: 1px solid #ccc;
                    margin-left: 1rem;
                    background-color: #fff;
                }
            }

            .margin{
                margin: 30vh auto 0 auto;
                width: 50vw;

                .ellips{
                    width: 20vw;
                    text-decoration: none;
                    color: #000;
                    background-color: #ccc;
                    padding: 1.5vw 10vh;
                    border-radius: 5vw;
                }
            }
        }
}